name: Continuous Deployment
on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deployment To Hugging Face
        env:
          HF: ${{ secrets.HF }}
          HF_REPO: ${{ secrets.HF_REPO }}  # optional: repo name for space e.g. username/space-name
        run: make deploy HF=$HF HF_REPO=$HF_REPO
